@charset "utf-8";
/* CSS Document */

.side_bar
{
	margin:2px;
	padding:25px;
	float:left;	
	color:white;
}

.profile_photo
{
	border:4px solid #FFF;
	height:130px;
	width:130px;
	margin-left:380px;
	margin-top:50px;	
	
}
